body  {
	background-color:rgba(6.9,69,6.9,0.2);
}
h1  {
  color: #ff0000;
  text-align:center;
  text-decoration: underline;
}
h2  {
  text-decoration: underline;
  color: navy;
  text-align: center;
}
h3  {
  text-decoration: underline;
}
h4  {
  text-decoration: underline;
}
h5  {
  text-decoration: underline;
}
h6  {
  text-decoration: underline;
}
A {
  text-align: center;
}
a {
  text-align: center;
}
p {
  text-align: center;
}
